@layer inline, external;
:root {
  --Color-Light: #F4F1E7;
  --Color-Light-Inactive: #86847f;
  --Color-Dark: #1A1A1A;
  --x-percent: 1;
  --y-percent: 1;
  --section-background: var(--Color-Dark);
  --section-color:var(--Color-Light);
}

.nav-dropdown .drop-down-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-dropdown .drop-down-list:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--papaya-whip);
  -webkit-mask-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.23017 7.20938C5.52875 6.92228 6.00353 6.93159 6.29063 7.23017L10 11.1679L13.7094 7.23017C13.9965 6.93159 14.4713 6.92228 14.7698 7.20938C15.0684 7.49647 15.0777 7.97125 14.7906 8.26983L10.5406 12.7698C10.3992 12.9169 10.204 13 10 13C9.79599 13 9.60078 12.9169 9.45938 12.7698L5.20938 8.26983C4.92228 7.97125 4.93159 7.49647 5.23017 7.20938Z" fill="%23000000"/></svg>');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.23017 7.20938C5.52875 6.92228 6.00353 6.93159 6.29063 7.23017L10 11.1679L13.7094 7.23017C13.9965 6.93159 14.4713 6.92228 14.7698 7.20938C15.0684 7.49647 15.0777 7.97125 14.7906 8.26983L10.5406 12.7698C10.3992 12.9169 10.204 13 10 13C9.79599 13 9.60078 12.9169 9.45938 12.7698L5.20938 8.26983C4.92228 7.97125 4.93159 7.49647 5.23017 7.20938Z" fill="%23000000"/></svg>');
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.w--open .drop-down-list:after {
  -webkit-transform: none;
          transform: none;
}

.small-in-editor {
  height: initial;
}

.sticky_text-wrapper.auto {
  margin-bottom: -120px;
  z-index: 500;
}
@media (max-width: 768px) {
  .sticky_text-wrapper.auto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    margin-bottom: 0;
    height: 1px;
  }
}

.sticky_text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  z-index: 500;
  color: var(--section-color);
}

.main-wrapper {
  max-width: 100vw;
  overflow-x: hidden;
}

.container_2025 {
  margin: auto;
  padding: 0 35px;
}
@media (min-width: 640px) {
  .container_2025 {
    padding: 0 70px;
  }
}
@media (min-width: 1024px) {
  .container_2025 {
    padding: 0 140px;
  }
}

.border-button, .hs-submit .actions .hs-button {
  --text-color: #F4F1E7;
  --background-color: transparent;
  --hover-background: #F4F1E7;
  --hover-text-color: #2C2C2C; /* Dark contrast for readability */
  font-family: "IBM Plex Mono", monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 12px 12px 12px 8px;
  font-size: 16px;
  line-height: 1.25em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
  position: relative;
  overflow: hidden;
}
.border-button:hover, .hs-submit .actions .hs-button:hover {
  background-color: var(--hover-background);
  color: var(--hover-text-color);
}

.nobottomborder {
  border-bottom: 0px;
  border-bottom-color: transparent;
}

.borderbottom {
  position: relative;
  border-bottom: 0px !important;
}
.borderbottom::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 200vw;
  bottom: 0;
  left: -50vw;
  background-color: rgba(255, 255, 255, 0.1019607843); /* Default color */
  mix-blend-mode: difference; /* Inverts color based on the background */
  z-index: 100;
}
@media (max-width: 768px) {
  .borderbottom {
    padding-bottom: 1em;
    margin-bottom: 0;
  }
}

.railroad {
  font-family: "railroad-gothic-atf", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@media (min-width: 768px) {
  .section_home-casestudies, .section_contact-form {
    padding: 200px 0;
  }
}
@media (min-width: 1024px) {
  .section_home-casestudies, .section_contact-form {
    padding: 2em 0;
  }
}

.section_static-quotes {
  padding: 3em 0;
}

.section_subheading {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 0.75em;
}

.case-studies-header-wrapper .section_subheading {
  margin-bottom: 100px;
}

.section_home-hero {
  max-width: 100vw;
}

.section_industry-header {
  overflow: hidden;
  position: relative;
}

.absoluteimage {
  overflow: visible;
}
@media (min-width: 768px) {
  .absoluteimage {
    max-width: 50%;
  }
}

@-webkit-keyframes floatUpDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(80%);
            transform: translateY(80%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes floatUpDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(80%);
            transform: translateY(80%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes floatDownUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes floatDownUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*rotateX(calc(11deg + (var(--y-percent) * 6deg))) rotateY(calc(-3deg + (var(--x-percent) * -10deg))) rotateZ(calc(1deg + (var(--x-percent) * 4deg)))*/
.scrolling_showcase, .static_showcase {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  /*tilt and zoom*/
  /*transform: scale(calc(1 + (var(--y-percent) * 0.5))) translateX(-10%)  rotateX(calc(11deg + (var(--y-percent) * 6deg))) rotateY(calc(-3deg + (var(--x-percent) * -10deg))) rotateZ(calc(1deg + (var(--x-percent) * 4deg)))*/
  /*zoom only*/
  /*transform: scale(calc(1 + (var(--y-percent) * 0.5))) translateX(-10%) rotateX(16deg) rotateY(-10deg) rotateZ(4deg);*/
  /*tilt only*/
  -webkit-transform: scale(calc(1 + var(--y-percent) * 0.05)) translateX(-10%) rotateX(calc(3deg + var(--y-percent) * 1.5deg)) rotateY(calc(-0.75deg + var(--x-percent) * -2.5deg)) rotateZ(calc(0.25deg + var(--x-percent) * 1deg));
          transform: scale(calc(1 + var(--y-percent) * 0.05)) translateX(-10%) rotateX(calc(3deg + var(--y-percent) * 1.5deg)) rotateY(calc(-0.75deg + var(--x-percent) * -2.5deg)) rotateZ(calc(0.25deg + var(--x-percent) * 1deg));
  -webkit-perspective: calc(250px + var(--y-percent) * 100px);
          perspective: calc(250px + var(--y-percent) * 100px);
  -webkit-perspective-origin: 48% 62%;
          perspective-origin: 48% 62%;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease-out forwards;
          animation: fadeIn 0.5s ease-out forwards;
}
.scrolling_showcase .left_side, .scrolling_showcase .right_side, .static_showcase .left_side, .static_showcase .right_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 50%;
  padding: 0.5em;
}
.scrolling_showcase .left_side img, .scrolling_showcase .right_side img, .static_showcase .left_side img, .static_showcase .right_side img {
  border-radius: 4px;
  margin: 0.5em 0;
}
.scrolling_showcase .left_side, .static_showcase .left_side {
  top: 0px;
  left: 0px;
  -webkit-animation: floatDownUp linear infinite;
          animation: floatDownUp linear infinite;
  -webkit-animation-duration: 200s;
          animation-duration: 200s;
}
.scrolling_showcase .right_side, .static_showcase .right_side {
  bottom: 0px;
  right: 0px;
  -webkit-animation: floatUpDown linear infinite;
          animation: floatUpDown linear infinite;
  -webkit-animation-duration: 160s;
          animation-duration: 160s;
}
.scrolling_showcase .full_size, .static_showcase .full_size {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.scrolling_showcase .full_size img, .static_showcase .full_size img {
  height: 105%;
  max-width: auto;
  max-width: 200%;
  position: absolute;
  top: 0;
  right: 2em;
}

.static_showcase {
  -webkit-transform: none;
          transform: none;
}

.hero_2025 {
  position: relative;
}
@media (max-width: 768px) {
  .hero_2025.borderbottom {
    margin-bottom: 0;
  }
}
.hero_2025 .border-button {
  --text-color: #1A1A1A;
  --background-color: #F45500;
  --hover-background: #F4F1E7;
  --hover-text-color: #1A1A1A; /* Light contrast for readability */
  padding-inline: 26px 32px;
}
.hero_2025:before {
  content: "";
  display: block;
  position: absolute;
  width: 120%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(var(--section-background)), color-stop(64%, color-mix(in srgb, var(--section-background) 56%, rgba(26, 26, 26, 0.56))), to(color-mix(in srgb, var(--section-background) 8%, rgba(26, 26, 26, 0.08))));
  background: linear-gradient(90deg, var(--section-background) 0%, color-mix(in srgb, var(--section-background) 56%, rgba(26, 26, 26, 0.56)) 64%, color-mix(in srgb, var(--section-background) 8%, rgba(26, 26, 26, 0.08)) 100%);
}
@media (max-width: 768px) {
  .hero_2025:before {
    left: -10%;
  }
}
.hero_2025 .hero_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 34px;
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.hero_2025 .hero_info p {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
.hero_2025 .hero_info .hero_paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
@media (min-width: 768px) {
  .hero_2025 .hero_info {
    max-width: 50%;
  }
}
.hero_2025 .hero_info .dynamic-button:before {
  content: "->";
  margin-right: 0.25em;
}
.hero_2025 .hero_info .dynamic-button:after {
  content: "GET TO KNOW C2";
}
@media (min-width: 768px) {
  .hero_2025 .hero_info .dynamic-button:after {
    content: "GET TO KNOW C2";
  }
}
.hero_2025 .hero_info .client-logos {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}
@media (max-width: 1024px) {
  .hero_2025 .hero_info .client-logos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hero_2025 .hero_subheading {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.hero_2025 .hero_image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 50%;
  height: 900px;
}
.hero_2025 .hero_image img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  right: -72px;
  opacity: 0.2;
}
@media (min-width: 768px) {
  .hero_2025 .hero_image img {
    opacity: 1;
  }
}

.beige_section, .color_section {
  --section-color: #1a1a1a;
  --section-highlight: #EAE7DD;
  --section-background: #F4F1E7;
  background-color: var(--section-background);
}
.beige_section .sticky_text, .color_section .sticky_text {
  color: var(--section-color);
}
.beige_section .border-button, .color_section .border-button {
  --text-color: #1A1A1A;
  --background-color: transparent;
  --hover-background: #1A1A1A;
  --hover-text-color: #F4F1E7; /* Light contrast for readability */
}
.beige_section .borderbottom, .color_section .borderbottom {
  border-color: var(---Color-Dark);
}
.beige_section, .beige_section h1, .beige_section h2, .beige_section h3, .beige_section h4, .beige_section h5, .beige_section p, .beige_section div, .color_section, .color_section h1, .color_section h2, .color_section h3, .color_section h4, .color_section h5, .color_section p, .color_section div {
  color: var(--section-color);
}

.color_section {
  --section-color: #f4f1e7;
  --section-highlight: #EAE7DD;
  --section-background: #AF3233;
}
.color_section .sticky_text {
  color: var(--section-color);
}
.color_section .border-button {
  --text-color: var(--section-color);
  --background-color: transparent;
  --hover-background: #1A1A1A;
  --hover-text-color: var(--section-color); /* Light contrast for readability */
}
.color_section .borderbottom {
  border-color: var(---Color-Dark);
}

.color_section.red_section {
  --section-color: #f4f1e7;
  --section-highlight: #EAE7DD;
  --section-background: #AF3233;
}

.color_section.blue_section {
  --section-color: #f4f1e7;
  --section-highlight: #EAE7DD;
  --section-background: #2B6CB0;
}

.color_section.darkblue_section {
  --section-color: #f4f1e7;
  --section-highlight: #EAE7DD;
  --section-background: #34495E;
}

.color_section.green_section {
  --section-color: #f4f1e7;
  --section-highlight: #EAE7DD;
  --section-background: #367C39;
}

.color_section.teal_section {
  --section-color: #f4f1e7;
  --section-highlight: #EAE7DD;
  --section-background: #007F8F;
}

.color_section.navy_section {
  --section-color: #F4F1E7;
  --section-highlight: #EAE7DD;
  --section-background: #34495e;
}

.color_section.orange_section {
  --section-color: #f4f1e7;
  --section-highlight: #EAE7DD;
  --section-background: #D3682F;
}

.icon_value .icon_value_icon {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.icon_value .icon_value_icon .w-embed {
  width: 24px;
  height: 24px;
  overflow: visible;
}
.icon_value .icon_value_header {
  color: var(--section-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.faq_2025 {
  width: 100%;
  padding: 64px 0;
}
.faq_2025 .faq_wrapper {
  position: relative;
  padding-bottom: 4em;
}
@media (max-width: 768px) {
  .faq_2025 .faq_wrapper .faq_item, .faq_2025 .faq_wrapper .faq_item:hover, .faq_2025 .faq_wrapper .faq_item.active, .faq_2025 .faq_wrapper .faq_closer {
    padding-inline: 0;
    max-width: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 1;
  }
  .faq_2025 .faq_wrapper .faq_item.active .arrow {
    display: none;
  }
  .faq_2025 .faq_wrapper .faq_item.active:hover .arrow {
    display: inline-block;
  }
  .faq_2025 .faq_wrapper .faq_answer {
    display: none !important;
  }
}
.faq_2025 .faq_item {
  font-family: Manrope;
  margin: 0.15em 0;
  color: var(--section-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  word-wrap: break-word;
  opacity: 0.5;
  width: 65%;
  max-width: 65%;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.faq_2025 .faq_item .arrow {
  display: none;
}
.faq_2025 .faq_item:hover, .faq_2025 .faq_item.active {
  opacity: 1;
  padding-left: 45px;
  width: 80%;
  max-width: 80%;
  padding-right: 20%;
}
.faq_2025 .faq_item:hover .arrow, .faq_2025 .faq_item.active .arrow {
  display: inline-block;
}
.faq_2025 .faq_item:hover .faq_answer, .faq_2025 .faq_item.active .faq_answer {
  opacity: 1;
  pointer-events: initial;
}
.faq_2025 .faq_item:hover .faq_answer {
  z-index: 20;
}
.faq_2025 .faq_item .faq_question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  max-height: 40px;
  overflow: hidden;
}
.faq_2025 .faq_item .faq_question .faq_heading {
  color: var(--section-color);
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  white-space: pre;
}
.faq_2025 .faq_item .faq_answer {
  position: absolute;
  margin: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  max-width: 30%;
  display: flex;
  gap: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  pointer-events: none;
  background-color: var(--section-background);
}
.faq_2025 .faq_item .faq_answer p {
  padding: 45px;
  color: var(--section-color);
  background-color: var(--section-highlight);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.faq_2025 .faq_item .faq_answer a {
  min-width: 100%;
  text-align: center;
  display: none;
}
.faq_2025 .faq_item .faq_answer a.added {
  display: block;
}
.faq_2025 .faq_closer {
  color: var(--section-color);
  width: 65%;
  max-width: 65%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  padding: 1em 0;
}

.section_static-quotes .container_2025 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section_static-quotes .section_subheading {
  color: var(--section-color);
  max-width: 400px;
}
@media (min-width: 768px) {
  .section_static-quotes .section_subheading {
    margin-bottom: 80px;
  }
}
.section_static-quotes .w-layout-hflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  padding-bottom: 150px;
}

@media (max-width: 768px) {
  .social_proofs_outerwrapper svg {
    max-width: 40px;
    max-height: 40px;
  }
  .social_proofs_outerwrapper .social_proofs {
    gap: 1em;
  }
  .social_proofs_outerwrapper .social_proof .social_proof_quote, .social_proofs_outerwrapper .social_proof .social_proof_attribute {
    font-size: 20px;
  }
}
.social_proofs_outerwrapper .social_proof {
  background-color: var(--Color-Dark);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.social_proofs_outerwrapper .social_proof_indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}
.social_proofs_outerwrapper .social_proof_indicators .social_proof_indicator {
  -webkit-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
  cursor: pointer;
}
.social_proofs_outerwrapper .social_proof_wrapper.sized {
  position: relative;
}
.social_proofs_outerwrapper .social_proof_wrapper.sized .social_proof {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.social_proofs_outerwrapper[data-active="1"] .social_proof:nth-child(1) {
  opacity: 1;
}
.social_proofs_outerwrapper[data-active="1"] .social_proof_indicator:nth-child(1) {
  background-color: #d9d9d9;
  width: 72px;
}
.social_proofs_outerwrapper[data-active="2"] .social_proof:nth-child(2) {
  opacity: 1;
}
.social_proofs_outerwrapper[data-active="2"] .social_proof_indicator:nth-child(2) {
  background-color: #d9d9d9;
  width: 72px;
}
.social_proofs_outerwrapper[data-active="3"] .social_proof:nth-child(3) {
  opacity: 1;
}
.social_proofs_outerwrapper[data-active="3"] .social_proof_indicator:nth-child(3) {
  background-color: #d9d9d9;
  width: 72px;
}
.social_proofs_outerwrapper[data-active="4"] .social_proof:nth-child(4) {
  opacity: 1;
}
.social_proofs_outerwrapper[data-active="4"] .social_proof_indicator:nth-child(4) {
  background-color: #d9d9d9;
  width: 72px;
}
.social_proofs_outerwrapper[data-active="5"] .social_proof:nth-child(5) {
  opacity: 1;
}
.social_proofs_outerwrapper[data-active="5"] .social_proof_indicator:nth-child(5) {
  background-color: #d9d9d9;
  width: 72px;
}
.social_proofs_outerwrapper[data-active="6"] .social_proof:nth-child(6) {
  opacity: 1;
}
.social_proofs_outerwrapper[data-active="6"] .social_proof_indicator:nth-child(6) {
  background-color: #d9d9d9;
  width: 72px;
}
.social_proofs_outerwrapper[data-active="7"] .social_proof:nth-child(7) {
  opacity: 1;
}
.social_proofs_outerwrapper[data-active="7"] .social_proof_indicator:nth-child(7) {
  background-color: #d9d9d9;
  width: 72px;
}
.social_proofs_outerwrapper[data-active="8"] .social_proof:nth-child(8) {
  opacity: 1;
}
.social_proofs_outerwrapper[data-active="8"] .social_proof_indicator:nth-child(8) {
  background-color: #d9d9d9;
  width: 72px;
}
.social_proofs_outerwrapper[data-active="9"] .social_proof:nth-child(9) {
  opacity: 1;
}
.social_proofs_outerwrapper[data-active="9"] .social_proof_indicator:nth-child(9) {
  background-color: #d9d9d9;
  width: 72px;
}
.social_proofs_outerwrapper[data-active="10"] .social_proof:nth-child(10) {
  opacity: 1;
}
.social_proofs_outerwrapper[data-active="10"] .social_proof_indicator:nth-child(10) {
  background-color: #d9d9d9;
  width: 72px;
}

.our_clients_container.container_2025 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem; /* This replaces grid-column-gap and grid-row-gap */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .our_clients_container.container_2025 {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}
.our_clients_container.container_2025 .logo_row {
  width: 100%;
}
@media (max-width: 768px) {
  .our_clients_container.container_2025 {
    margin-top: 0;
  }
  .our_clients_container.container_2025 .logo_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* Ensures wrapping */
    padding-top: 30px; /* Reduce padding */
    padding-bottom: 30px;
    gap: 1rem; /* Reduce spacing between items */
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

.case-studies-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 32px 0;
}
@media (max-width: 768px) {
  .case-studies-header {
    margin: 0;
  }
}

.ms-content {
  white-space: nowrap;
  overflow: visible;
}
.ms-content.w-embed:before, .ms-content.w-embed:after {
  display: none;
  content: "";
}

.item {
  width: 300px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 8px;
  white-space: initial;
  height: 100%;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
  --Active-Color: var(--Color-Light-Inactive);
}
@media (min-width: 640px) {
  .item {
    width: 400px;
  }
}
@media (min-width: 1024px) {
  .item {
    width: 450px;
  }
}
.item:hover, .item:first-child {
  --Active-Color: var(--Color-Light);
}
.item[style] {
  opacity: 0;
}
.item .cs-image {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 640px) {
  .item .cs-image {
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 1024px) {
  .item .cs-image {
    width: 450px;
    height: 450px;
  }
}
.item .cs-image .cs-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 5;
  margin: 0;
  padding: 0;
}
.item .cs-image .cs-tags li {
  list-style: none;
  border-radius: 4px;
  line-height: 24px;
  padding: 0px 8px;
  background: rgba(244, 241, 231, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  color: var(--Color-Dark);
  text-transform: uppercase;
  font-size: 14px;
}
.item .cs-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item .cs-info {
  line-height: 32px;
}
.item .cs-info h3.cs-header {
  color: var(--Active-Color);
  font-size: 22px;
  font-weight: 500;
  margin: 1em 0;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.item .cs-info h3.cs-header span.arrow {
  content: "->";
}
.item .cs-info .cs-text {
  color: var(--Active-Color);
  font-size: 18px;
  font-weight: 400;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.case-studies-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  margin: 0 0 2em 0;
}
@media (min-width: 768px) {
  .case-studies-header-wrapper {
    margin: -100px 0 60px 0;
    gap: 1em;
  }
  .case-studies-header-wrapper p {
    max-width: 50%;
  }
}

.case-studies-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.case-studies-button.border-button {
  color: var(--Color-Light);
  padding: 8px 18px 8px 16px;
}
.case-studies-button.border-button.ms-right {
  padding: 8px 16px 8px 18px;
}
.case-studies-button.border-button:hover {
  color: var(--Color-Dark);
}

@media (min-width: 640px) {
  .container_about-us {
    margin: -100px 0 0px 0;
  }
}
.container_about-us .about-us-info {
  padding: 52px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1em;
}
@media (max-width: 768px) {
  .container_about-us .about-us-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.container_about-us p {
  max-width: 574px;
  color: var(--text-color);
}
@media (max-width: 768px) {
  .container_about-us.borderbottom {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .our_approach_section.borderbottom {
    margin-bottom: 0;
  }
}

.ms-content {
  white-space: nowrap;
  overflow: visible;
}
.ms-content.w-embed:before, .ms-content.w-embed:after {
  display: none;
  content: "";
}

.item {
  width: 300px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 8px;
  white-space: initial;
  height: 100%;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
  --Active-Color: var(--Color-Light-Inactive);
}
@media (min-width: 640px) {
  .item {
    width: 400px;
  }
}
@media (min-width: 1024px) {
  .item {
    width: 450px;
  }
}
.item:hover, .item:first-child {
  --Active-Color: var(--Color-Light);
}
.item[style] {
  opacity: 0;
}
.item .cs-image {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 640px) {
  .item .cs-image {
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 1024px) {
  .item .cs-image {
    width: 450px;
    height: 450px;
  }
}
.item .cs-image .cs-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 5;
  margin: 0;
  padding: 0;
}
.item .cs-image .cs-tags li {
  list-style: none;
  border-radius: 4px;
  line-height: 24px;
  padding: 0px 8px;
  background: rgba(244, 241, 231, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  color: var(--Color-Dark);
  text-transform: uppercase;
  font-size: 14px;
}
.item .cs-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item .cs-info {
  line-height: 32px;
}
.item .cs-info h3.cs-header {
  color: var(--Active-Color);
  font-size: 22px;
  font-weight: 500;
  margin: 1em 0;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.item .cs-info h3.cs-header span.arrow {
  content: "->";
}
.item .cs-info .cs-text {
  color: var(--Active-Color);
  font-size: 18px;
  font-weight: 400;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .optimizely_container .optimizely_header svg {
    height: auto;
    max-height: 50px;
  }
  .optimizely_container .optimizely_stats {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1em !important;
    padding-bottom: 2em;
  }
  .optimizely_container .optimizely_stats .icon_stat,
  .optimizely_container .optimizely_stats .number_stat {
    width: calc(45% - 1em);
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .optimizely_container .optimizely_stats {
    margin-bottom: 0;
  }
}
.optimizely_container .dynamic-button:before {
  content: "->";
  margin-right: 0.25em;
}
.optimizely_container .dynamic-button:afterOLD {
  content: "LEARN MORE";
}
@media (min-width: 768px) {
  .optimizely_container .dynamic-button:afterOLD {
    content: "LEARN MORE ABOUT OUR OPTIMIZELY EXPERTISE";
  }
}
.optimizely_container .optimizely_header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
  gap: 1em;
}
@media (min-width: 768px) {
  .optimizely_container .optimizely_header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1em;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 96px;
    margin: -100px 0 60px 0;
  }
}
.optimizely_container .optimizely_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  max-width: 880px;
}
.optimizely_container .optimizely_intro, .optimizely_container .optimizely_intro p {
  color: var(--Color-Dark);
}
.optimizely_container .optimizely_stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(40px, 5vw, 10%);
  padding-bottom: 60px;
}
.optimizely_container .optimizely_stats .icon_stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  color: var(--Color-Dark);
  font-style: normal;
}
.optimizely_container .optimizely_stats .icon_svg {
  width: 40px;
  height: 40px;
}
.optimizely_container .optimizely_stats .icon_caption {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1667em;
  white-space: pre;
}
.optimizely_container .optimizely_stats .icon_year {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.0417em; /* 25px / 24px */
  opacity: 0.6;
}
.optimizely_container .optimizely_stats .stat_number {
  font-size: 40px;
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em; /* 96px / 80px */
}
@media (min-width: 1024px) {
  .optimizely_container .optimizely_stats .stat_number {
    font-size: 60px;
  }
}
@media (min-width: 1280px) {
  .optimizely_container .optimizely_stats .stat_number {
    font-size: 80px;
  }
}
.optimizely_container .optimizely_stats .stat_caption {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25em; /* 20px / 16px */
  opacity: 0.6;
}

.chaos_container {
  color: var(--section-color);
}
.chaos_container h3 {
  color: var(--section-color);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
.chaos_container .approachImage {
  margin: 1em 0;
}
@media (min-width: 768px) {
  .chaos_container .approachImage {
    margin: 4em 0 120px 0;
  }
}
.chaos_container .chaos_order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  padding-bottom: 32px;
}
@media (max-width: 768px) {
  .chaos_container .chaos_order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.chaos_container .chaos_order h4, .chaos_container .chaos_order p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.chaos_container .chaos_order h4 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.section_contact-form .contact_flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 640px) {
  .section_contact-form .contact_flex {
    margin: -100px 0 60px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.section_contact-form .contact_copy {
  max-width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section_contact-form .contact_heading {
  font-family: railroad-gothic-atf, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15em; /* 113.043% */
  text-transform: uppercase;
  font-size: 60px;
  padding-top: 1em;
}
@media (min-width: 640px) {
  .section_contact-form .contact_heading {
    font-size: 92px;
    padding-top: 0;
  }
}
.section_contact-form .contact_form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 768px) {
  .icon_values {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hs-submit .actions .hs-button {
  --text-color: #1A1A1A;
  --background-color: #F45500;
  --hover-background: #F4F1E7;
  --hover-text-color: #1A1A1A; /* Light contrast for readability */
}

form.hs-form {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.other_posts-title_text:hover {
  color: var(--Color-Dark);
  text-decoration: underline;
  text-decoration-color: #F45500;
}

.line_left {
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.4666666667); /* Default color */
  width: 1px;
  height: 100vh; /* Full height */
  position: fixed;
  inset: 0% 0% 0% 4.5rem;
  overflow: visible;
  mix-blend-mode: difference; /* Inverts color based on the background */
}

.calendly-iframe {
  max-height: 50px;
  opacity: 0;
  -webkit-transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out;
  transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out;
  overflow: hidden;
  height: 900px;
}

/* When the form is submitted */
.submitted .calendly-iframe {
  max-height: 1000px;
  opacity: 1;
}

/* Override dynamic-button text if needed */
.hero_2025 .hero_info .dynamic-button:after {
  content: "LEARN MORE";
}

@media (min-width: 768px) {
  .hero_2025 .hero_info .dynamic-button:after {
    content: "LEARN MORE ABOUT WHAT THIS MEANS";
  }
}
/* Alternate version of .border-button padding if preferred */
.border-button {
  padding: 8px 12px 8px 8px;
}

/* Restore default visibility for FAQ links if .added logic is not used */
.faq_2025 .faq_item .faq_answer a {
  min-width: 100%;
  text-align: center;
}

/* Alternate media query trigger for case-studies-header */
@media (min-width: 640px) {
  .case-studies-header {
    margin: -100px 0 60px 0;
  }
}
.mobiletoggle:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--papaya-whip);
  -webkit-mask-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.23017 7.20938C5.52875 6.92228 6.00353 6.93159 6.29063 7.23017L10 11.1679L13.7094 7.23017C13.9965 6.93159 14.4713 6.92228 14.7698 7.20938C15.0684 7.49647 15.0777 7.97125 14.7906 8.26983L10.5406 12.7698C10.3992 12.9169 10.204 13 10 13C9.79599 13 9.60078 12.9169 9.45938 12.7698L5.20938 8.26983C4.92228 7.97125 4.93159 7.49647 5.23017 7.20938Z" fill="%23000000"/></svg>');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-image: uurl('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.23017 7.20938C5.52875 6.92228 6.00353 6.93159 6.29063 7.23017L10 11.1679L13.7094 7.23017C13.9965 6.93159 14.4713 6.92228 14.7698 7.20938C15.0684 7.49647 15.0777 7.97125 14.7906 8.26983L10.5406 12.7698C10.3992 12.9169 10.204 13 10 13C9.79599 13 9.60078 12.9169 9.45938 12.7698L5.20938 8.26983C4.92228 7.97125 4.93159 7.49647 5.23017 7.20938Z" fill="%23000000"/></svg>');
          mask-image: uurl('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.23017 7.20938C5.52875 6.92228 6.00353 6.93159 6.29063 7.23017L10 11.1679L13.7094 7.23017C13.9965 6.93159 14.4713 6.92228 14.7698 7.20938C15.0684 7.49647 15.0777 7.97125 14.7906 8.26983L10.5406 12.7698C10.3992 12.9169 10.204 13 10 13C9.79599 13 9.60078 12.9169 9.45938 12.7698L5.20938 8.26983C4.92228 7.97125 4.93159 7.49647 5.23017 7.20938Z" fill="%23000000"/></svg>');
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.w--open .mobiletoggle:after {
  -webkit-transform: none;
          transform: none;
}