@import "breakpoints.scss";
@layer inline, external;

:root {
    --Color-Light: #F4F1E7;
    --Color-Light-Inactive: #86847f;
    --Color-Dark: #1A1A1A;
}

.sticky_text {
    writing-mode: vertical-rl;
}

.main-wrapper {
    max-width: 100vw;
    overflow-x: hidden;
}

.container_2025 {
    margin: auto;
    padding: 0 35px;

    @include displayFrom(sm) {
        padding: 0 70px;
    }

    @include displayFrom(lg) {
        padding: 0 140px;
    }
}

.border-button {
    --text-color: #F4F1E7;
    --background-color: transparent;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 4px;
    padding: 8px 12px 8px 8px;
    font-size: 16px;
    line-height: 1.25em;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
}

.borderbottom {
    @include displayTo(md) {
        padding-bottom: 1em;
        margin-bottom: 2em;
    }
}
.railroad {
    font-family: "railroad-gothic-atf", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.section_home-hero {
    max-width: 100vw;
}

.hero_2025 {
    .hero_info {
        display: flex;
        flex-direction: column;
        gap: 34px;
        z-index: 2;
        flex: 1;

        @include displayFrom(md) {
            max-width: 50%;
        }

        .dynamic-button {
            &:before {
                content: "->";
                margin-right: .25em;
            }

            &:after {
                content: 'LEARN MORE';

                @include displayFrom(md) {
                    content: 'LEARN MORE ABOUT WHAT THIS MEANS';
                }
            }
        }
    }

    .hero_image {
        position: relative;
        flex: 1;
        max-width: 50%;
        height: 900px;

        img {
            position: absolute;
            height: 100%;
            width: auto;
            top: 0;
            right: -72px;
            opacity: .2;

            @include displayFrom(md) {
                opacity: 1;
            }
        }
    }
}

.beige_section {
    --section-color: #1a1a1a;
    --section-highlight: #EAE7DD;
    --section-background: #F4F1E7;

    .sticky_text {
        color: var(--section-color);
    }

    .border-button {
        --text-color: #1A1A1A;
        --background-color: transparent;
    }
}

.faq_2025 {
    padding: 64px 0;

    .faq_wrapper {
        position: relative;
        padding-bottom: 4em;

        @include displayTo(md) {
            .faq_item, .faq_item:hover, .faq_item.active {
                padding-inline: 0;
                max-width: 100%;
                width: 100%;
                cursor:pointer;
                opacity:1;
            }

            .faq_item.active{
                .arrow {
                    display:none;
                }
                &:hover .arrow {
                    display:inline-block;
                }
            }
            .faq_answer {
                display: none !important;
            }
        }
    }

    .faq_item {
        font-family: Manrope;
        color: var(--section-color);
        font-size: 40px;
        font-weight: 500;
        line-height: 44px;
        word-wrap: break-word;
        opacity: .5;
        width: 65%;
        max-width: 65%;
        cursor: pointer;
        transition: all .25s ease-in-out;

        .arrow {
            display: none;
        }

        &:hover, &.active {
            opacity: 1;
            padding-left: 45px;
            width: 80%;
            max-width: 80%;
            padding-right: 20%;

            .arrow {
                display: inline-block;
            }

            .faq_answer {
                opacity: 1;
                pointer-events: initial;
            }
        }


        .faq_question {
            display: flex;
            align-items: center;
            height: 40px;
            max-height: 40px;
            overflow: hidden;

            .faq_heading {
                color: var(--section-color);
                text-overflow: ellipsis;
                margin: 0;
                padding: 0;
                white-space: pre;
            }
        }

        .faq_answer {
            position: absolute;
            margin: 0;
            transition: all .25s ease-in-out;
            opacity: 0;
            top: 0;
            right: 0;
            display: flex;
            width: 30%;
            max-width: 30%;
            display: flex;
            gap: 1em;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            align-items: stretch;
            pointer-events: none;
            background-color: var(--section-background);

            p {
                padding: 45px;
                color: var(--section-color);
                background-color: var(--section-highlight);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
            }

            a {
                min-width: 100%;
                text-align: center;
            }
        }
    }
}


.social_proofs_outerwrapper {
    @include displayTo(md) {
        svg {
            max-width: 40px;
            max-height:40px;
        }
        .social_proofs{
            gap:1em;
        }
        .social_proof {
            .social_proof_quote, .social_proof_attribute {
                font-size: 20px;
            }
        }
    }

    .social_proof {
        background-color: var(--Color-Dark);
        opacity: 0;
        pointer-events: none;
        transition: all .25s ease-in-out;
    }

    .social_proof_indicators {
        display: flex;
        gap: 1em;

        .social_proof_indicator {
            transition: width .25s ease-in-out;
            cursor: pointer;
        }
    }

    .social_proof_wrapper.sized {
        position: relative;

        .social_proof {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
    // Highlight active social_proof and social_proof_indicator based on data-active
    @for $i from 1 through 10 { // Adjust as needed if you have more items
        &[data-active="#{$i}"] {
            .social_proof:nth-child(#{$i}) {
                opacity: 1;
            }

            .social_proof_indicator:nth-child(#{$i}) {
                background-color: #d9d9d9;
                width: 72px;
            }
        }
    }
}




.our_clients_container.container_2025 {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; /* This replaces grid-column-gap and grid-row-gap */
    justify-content: space-between;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 65px;

    @include displayTo(md) {
        margin-top: 0;

        .logo_row {
            flex-direction: column; /* Ensures wrapping */
            padding-top: 30px; /* Reduce padding */
            padding-bottom: 30px;
            gap: 1rem; /* Reduce spacing between items */
            align-self:stretch;
        }
    }
}





.case-studies-header {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;

    @include displayFrom(sm) {
        margin: -100px 0 60px 0;
    }
}

.container_about-us {
    @include displayFrom(sm) {
        margin: -100px 0 0px 0;
    }

    .about-us-info {
       
        padding: 52px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap:1em;
        @include displayTo(md){
            flex-direction:column;
        }
    }

    p {
        max-width: 574px;
        color: var(--text-color);
    }
    @include displayTo(md){
        &.borderbottom {
            margin-bottom:0;
        }
    }
}
.ms-content {
    white-space: nowrap;
    overflow: visible;

    &.w-embed:before, &.w-embed:after {
        display: none;
        content: '';
    }
}

.item {
    width: 300px;

    @include displayFrom(sm) {
        width: 400px;
    }

    @include displayFrom(lg) {
        width: 450px;
    }

    display: inline-flex;
    flex-direction: column;
    margin: 0px 8px;
    white-space: initial;
    height: 100%;
    transition: opacity .3s ease-in-out .2s;
    --Active-Color: var(--Color-Light-Inactive);


    &:hover, &:first-child {
        --Active-Color: var(--Color-Light);
    }

    &[style] {
        opacity: 0;
    }

    .cs-image {
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        width: 300px;
        height: 300px;

        @include displayFrom(sm) {
            width: 400px;
            height: 400px;
        }

        @include displayFrom(lg) {
            width: 450px;
            height: 450px;
        }

        display: flex;
        align-items: center;
        justify-content: center;

        .cs-tags {
            display: flex;
            gap: 10px;
            position: absolute;
            top: 8px;
            left: 8px;
            z-index: 5;
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                border-radius: 4px;
                line-height: 24px;
                padding: 0px 8px;
                background: rgba(244, 241, 231, 0.80);
                backdrop-filter: blur(2px);
                color: var(--Color-Dark);
                text-transform: uppercase;
                font-size: 14px;
            }
        }


        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .cs-info {
        line-height: 32px;


        h3.cs-header {
            color: var(--Active-Color);
            font-size: 22px;
            font-weight: 500;
            margin: 1em 0;

            span.arrow {
                content: "->";
            }

            transition: color .2s ease-in-out;
        }

        .cs-text {
            color: var(--Active-Color);
            font-size: 18px;
            font-weight: 400;
            transition: color .2s ease-in-out;
        }
    }
}


.optimizely_container {
    @include displayTo(md) {
        .optimizely_header {

            svg {
                height: auto;
                max-height: 50px;
            }
        }

        .optimizely_stats {
            flex-wrap: wrap;
            justify-content: space-between;
            gap:1em !important;
            .icon_stat,
            .number_stat {
                width: calc(45% - 1em); 
            }
            padding-bottom:2em;
        }
    }

    .dynamic-button {
        &:before {
            content: "->";
            margin-right: .25em;
        }

        &:after {
            content: 'LEARN MORE';

            @include displayFrom(md) {
                content: 'LEARN MORE ABOUT OUR OPTIMIZELY EXPERTISE';
            }
        }
    }

    .optimizely_header {
        flex-direction: column;
        margin-bottom: 2em;
        gap: 1em;

        @include displayFrom(md) {
            flex-direction: row;
            margin-bottom: 1em;
            align-items: flex-end;
            gap: 96px;
        }
    }

    .optimizely_intro {
        display: flex;
        flex-direction: column;
        gap: 1em;

        &, p {
            color: var(--Color-Dark);
        }
    }

    .optimizely_stats {
        display: flex;
        gap: 40px;

        .icon_stat {
            display: flex;
            flex-direction: column;
            gap: 12px;
            color: var(--Color-Dark);
            font-style: normal;
        }

        .icon_svg {
            width: 40px;
            height: 40px;
        }

        .icon_caption {
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 1.1667em; /* 28px / 24px */
        }

        .icon_year {
            font-size: 24px;
            font-weight: 400;
            line-height: 1.0417em; /* 25px / 24px */
            opacity: 0.6;
        }

        .stat_number {
            font-size: 40px;

            @include displayFrom(lg) {
                font-size: 60px;
            }

            @include displayFrom(xl) {
                font-size: 80px;
            }

            white-space: nowrap;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2em; /* 96px / 80px */
        }

        .stat_caption {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.25em; /* 20px / 16px */
            opacity: 0.6;
        }
    }
}

.section_contact-form {
    .contact_flex {
        flex-direction: column;

        @include displayFrom(sm) {
            margin: -100px 0 60px 0;
            flex-direction: row;
        }
    }

    .contact_heading {
        font-family: railroad-gothic-atf, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 1.15em; /* 113.043% */
        text-transform: uppercase;
        max-width: 560px;
        font-size:60px;
        padding-top:1em;

        @include displayFrom(sm) {
            font-size: 92px;
            padding-top:0;
        }
    }

    .contact_form {
        flex-grow: 1;
    }
}

.icon_values {
    @include displayTo(md){
        flex-direction:column;
    }
}
