:root {
  --Color-Light: #F4F1E7;
  --Color-Light-Inactive: #86847f;
  --Color-Dark: #1A1A1A;
}

.main-wrapper {
  max-width: 100vw;
  overflow-x: hidden;
}

.container_2025 {
  margin: auto;
  padding: 0 35px;
}
@media (min-width: 640px) {
  .container_2025 {
    padding: 0 70px;
  }
}
@media (min-width: 1024px) {
  .container_2025 {
    padding: 0 140px;
  }
}

.border-button {
  --text-color: #F4F1E7;
  --background-color: transparent;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 8px 12px 8px 8px;
  font-size: 16px;
  line-height: 1.25em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.railroad {
  font-family: "railroad-gothic-atf", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.section_home-hero {
  max-width: 100vw;
}

.hero_2025 .hero_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 34px;
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (min-width: 768px) {
  .hero_2025 .hero_info {
    max-width: 50%;
  }
}
.hero_2025 .hero_info .dynamic-button:before {
  content: "->";
  margin-right: 0.25em;
}
.hero_2025 .hero_info .dynamic-button:after {
  content: "LEARN MORE";
}
@media (min-width: 768px) {
  .hero_2025 .hero_info .dynamic-button:after {
    content: "LEARN MORE ABOUT WHAT THIS MEANS";
  }
}
.hero_2025 .hero_image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 50%;
  height: 900px;
}
.hero_2025 .hero_image img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  right: -72px;
  opacity: 0.2;
}
@media (min-width: 768px) {
  .hero_2025 .hero_image img {
    opacity: 1;
  }
}

.beige_section {
  --section-color: #1a1a1a;
  --section-highlight: #EAE7DD;
  --section-background: #F4F1E7;
}
.beige_section .sticky_text {
  color: var(--section-color);
}
.beige_section .border-button {
  --text-color: #1A1A1A;
  --background-color: transparent;
}

.faq_2025 {
  padding: 64px 0;
}
.faq_2025 .faq_wrapper {
  position: relative;
  padding-bottom: 2em;
}
.faq_2025 .faq_item {
  font-family: Manrope;
  color: var(--section-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  word-wrap: break-word;
  opacity: 0.5;
  width: 65%;
  max-width: 65%;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.faq_2025 .faq_item .arrow {
  display: none;
}
.faq_2025 .faq_item:hover, .faq_2025 .faq_item.active {
  opacity: 1;
  padding-left: 45px;
  width: 80%;
  max-width: 80%;
  padding-right: 20%;
}
.faq_2025 .faq_item:hover .arrow, .faq_2025 .faq_item.active .arrow {
  display: inline-block;
}
.faq_2025 .faq_item:hover .faq_answer, .faq_2025 .faq_item.active .faq_answer {
  opacity: 1;
  pointer-events: initial;
}
.faq_2025 .faq_item .faq_question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  max-height: 40px;
  overflow: hidden;
}
.faq_2025 .faq_item .faq_question .faq_heading {
  color: var(--section-color);
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  white-space: pre;
}
.faq_2025 .faq_item .faq_answer {
  position: absolute;
  margin: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  max-width: 30%;
  display: flex;
  gap: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  pointer-events: none;
  background-color: var(--section-background);
}
.faq_2025 .faq_item .faq_answer p {
  padding: 45px;
  color: var(--section-color);
  background-color: var(--section-highlight);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.faq_2025 .faq_item .faq_answer a {
  min-width: 100%;
  text-align: center;
}