@import "breakpoints.scss";
@layer inline, external;

:root {
    --Color-Light: #F4F1E7;
    --Color-Light-Inactive: #86847f;
    --Color-Dark: #1A1A1A;
    --x-percent: 1;
    --y-percent: 1;
    --section-background: var(--Color-Dark);
    --section-color:var(--Color-Light);
}



.nav-dropdown {
    .drop-down-list {
        display: flex;
        align-content: center;
        align-items: center;

        &:after {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: var(--papaya-whip);
            -webkit-mask-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.23017 7.20938C5.52875 6.92228 6.00353 6.93159 6.29063 7.23017L10 11.1679L13.7094 7.23017C13.9965 6.93159 14.4713 6.92228 14.7698 7.20938C15.0684 7.49647 15.0777 7.97125 14.7906 8.26983L10.5406 12.7698C10.3992 12.9169 10.204 13 10 13C9.79599 13 9.60078 12.9169 9.45938 12.7698L5.20938 8.26983C4.92228 7.97125 4.93159 7.49647 5.23017 7.20938Z" fill="%23000000"/></svg>');
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: contain;
            mask-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.23017 7.20938C5.52875 6.92228 6.00353 6.93159 6.29063 7.23017L10 11.1679L13.7094 7.23017C13.9965 6.93159 14.4713 6.92228 14.7698 7.20938C15.0684 7.49647 15.0777 7.97125 14.7906 8.26983L10.5406 12.7698C10.3992 12.9169 10.204 13 10 13C9.79599 13 9.60078 12.9169 9.45938 12.7698L5.20938 8.26983C4.92228 7.97125 4.93159 7.49647 5.23017 7.20938Z" fill="%23000000"/></svg>');
            mask-repeat: no-repeat;
            mask-size: contain;
            transform:rotate(-90deg);
            transition:transform .2s ease-in-out;
        }
    }
}

.w--open {
    .drop-down-list:after {
        transform:none;
    } 
}

.small-in-editor {
    height:initial;
}

.sticky_text-wrapper.auto {
    margin-bottom: -120px;
    z-index: 500;

    @include displayTo(md) {
        display: flex;
        opacity: 0;
        margin-bottom: 0;
        height: 1px;
    }
}

.sticky_text {
    writing-mode: vertical-rl;
    z-index:500;
    color:var(--section-color);
}

.main-wrapper {
    max-width: 100vw;
    overflow-x: hidden;
}

.container_2025 {
    margin: auto;
    padding: 0 35px;

    @include displayFrom(sm) {
        padding: 0 70px;
    }

    @include displayFrom(lg) {
        padding: 0 140px;
    }
}

.border-button, .hs-submit .actions .hs-button {
    --text-color: #F4F1E7;
    --background-color: transparent;
    --hover-background: #F4F1E7;
    --hover-text-color: #2C2C2C; /* Dark contrast for readability */

    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 4px;
    padding: 8px 12px 8px 8px;
    font-size: 16px;
    line-height: 1.25em;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    position: relative;
    overflow: hidden;

    &:hover {
        background-color: var(--hover-background);
        color: var(--hover-text-color);
    }
}

.nobottomborder {
    border-bottom:0px;
    border-bottom-color:transparent;
}
.borderbottom {
    position: relative;
    border-bottom:0px !important;
    &::after {
        content:'';
        position: absolute;
        height: 1px;
        width: 200vw;
        bottom:0;
        left:-50vw;
        background-color: #ffffff1a; /* Default color */
        mix-blend-mode: difference; /* Inverts color based on the background */
        z-index:100;
    }

    @include displayTo(md) {
        padding-bottom: 1em;
        margin-bottom: 0;
    }
}

.railroad {
    font-family: "railroad-gothic-atf", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.section_home-casestudies, .section_contact-form {
    @include displayFrom(md) {
        padding: 2em 0;
    }
}

.section_static-quotes {
    padding: 3em 0;
}

.section_subheading {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: .75em;
}

.section_home-hero {
    max-width: 100vw;
}
.section_industry-header{
    overflow:hidden;
    position:relative;
}
.absoluteimage {
    @include displayFrom(md) {
        max-width: 50%;
    }

    overflow: visible;
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(80%);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes floatDownUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-80%);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/*rotateX(calc(11deg + (var(--y-percent) * 6deg))) rotateY(calc(-3deg + (var(--x-percent) * -10deg))) rotateZ(calc(1deg + (var(--x-percent) * 4deg)))*/
.scrolling_showcase, .static_showcase {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    transform-origin: top center;
    /*tilt and zoom*/
    /*transform: scale(calc(1 + (var(--y-percent) * 0.5))) translateX(-10%)  rotateX(calc(11deg + (var(--y-percent) * 6deg))) rotateY(calc(-3deg + (var(--x-percent) * -10deg))) rotateZ(calc(1deg + (var(--x-percent) * 4deg)))*/
    /*zoom only*/
    /*transform: scale(calc(1 + (var(--y-percent) * 0.5))) translateX(-10%) rotateX(16deg) rotateY(-10deg) rotateZ(4deg);*/
    /*tilt only*/
    transform: scale(calc(1 + (var(--y-percent) * 0.05))) translateX(-10%) rotateX(calc(3deg + (var(--y-percent) * 1.5deg))) rotateY(calc(-.75deg + (var(--x-percent) * -2.5deg))) rotateZ(calc(.25deg + (var(--x-percent) * 1deg)));
    perspective: calc(250px + (var(--y-percent) * 100px));
    perspective-origin: 48% 62%;
    transition: transform .1s ease;
    opacity: 0;
    animation: fadeIn .5s ease-out forwards;

    .left_side, .right_side {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 50%;
        padding: .5em;

        img {
            border-radius: 4px;
            margin: .5em 0;
        }
    }

    .left_side {
        top: 0px;
        left: 0px;
        animation: floatDownUp linear infinite;
        animation-duration: 200s;
    }

    .right_side {
        bottom: 0px;
        right: 0px;
        animation: floatUpDown linear infinite;
        animation-duration: 160s;
    }

    .full_size {
        width: 100%;
        height: 100%;
        position: relative;
        display: block;

        img {
            height: 105%;
            max-width: auto;
            max-width: 200%;
            position: absolute;
            top: 0;
            right: 2em;
        }
    }
}

.static_showcase{
    transform:none;
}




.hero_2025 {
    position: relative;


    &.borderbottom {
        @include displayTo(md) {
            margin-bottom: 0;
        }
    }


    .border-button {
        --text-color: #1A1A1A;
        --background-color: #F45500;
        --hover-background: #F4F1E7;
        --hover-text-color: #1A1A1A; /* Light contrast for readability */
        padding-inline: 26px 32px;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 120%;
        height: 100%;
        background: linear-gradient( 90deg, var(--section-background) 0%, color-mix(in srgb, var(--section-background) 56%, rgba(26, 26, 26, 0.56)) 64%, color-mix(in srgb, var(--section-background) 8%, rgba(26, 26, 26, 0.08)) 100% );

        @include displayTo(md) {
            left: -10%;
        }
    }

    .hero_info {
        display: flex;
        flex-direction: column;
        gap: 34px;
        z-index: 2;
        flex: 1;

        p {
            font-size: 24px;
            font-weight: 400;
            line-height: 30px;
        }

        .hero_paragraph {
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
        }

        @include displayFrom(md) {
            max-width: 50%;
        }

        .dynamic-button {
            &:before {
                content: "->";
                margin-right: .25em;
            }

            &:after {
                content: 'GET TO KNOW C2';

                @include displayFrom(md) {
                    content: 'GET TO KNOW C2';
                }
            }
        }
    }

    .hero_subheading {
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
    }

    .hero_image {
        position: relative;
        flex: 1;
        max-width: 50%;
        height: 900px;

        img {
            position: absolute;
            height: 100%;
            width: auto;
            top: 0;
            right: -72px;
            opacity: .2;

            @include displayFrom(md) {
                opacity: 1;
            }
        }
    }
}

.beige_section, .color_section {
    --section-color: #1a1a1a;
    --section-highlight: #EAE7DD;
    --section-background: #F4F1E7;
    background-color: var(--section-background);

    .sticky_text {
        color: var(--section-color);
    }

    .border-button {
        --text-color: #1A1A1A;
        --background-color: transparent;
        --hover-background: #1A1A1A;
        --hover-text-color: #F4F1E7; /* Light contrast for readability */
    }

    .borderbottom {
        border-color: var(---Color-Dark)
    }

    &, h1, h2, h3, h4, h5, p, div {
        color: var(--section-color);
    }
}


.color_section {
    --section-color: #f4f1e7;
    --section-highlight: #EAE7DD;
    --section-background: #AF3233;

    .sticky_text {
        color: var(--section-color);
    }

    .border-button {
        --text-color: var(--section-color);
        --background-color: transparent;
        --hover-background: #1A1A1A;
        --hover-text-color: var(--section-color); /* Light contrast for readability */
    }

    .borderbottom {
        border-color: var(---Color-Dark);
    }
}

.color_section.red_section {
    --section-color: #f4f1e7;
    --section-highlight: #EAE7DD;
    --section-background: #AF3233;
}
.color_section.blue_section {
    --section-color: #f4f1e7;
    --section-highlight: #EAE7DD;
    --section-background: #2B6CB0;
}
.color_section.darkblue_section {
    --section-color: #f4f1e7;
    --section-highlight: #EAE7DD;
    --section-background: #34495E;
}
.color_section.green_section {
    --section-color: #f4f1e7;
    --section-highlight: #EAE7DD;
    --section-background: #367C39;
}
.color_section.teal_section {
    --section-color: #f4f1e7;
    --section-highlight: #EAE7DD;
    --section-background: #007F8F;
}
.color_section.orange_section {
    --section-color: #f4f1e7;
    --section-highlight: #EAE7DD;
    --section-background: #D3682F;
}


.icon_value {
    .icon_value_icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        .w-embed {
            width: 24px;
            height: 24px;
            overflow: visible;
        }
    }

    .icon_value_header {
        color: var(--section-color);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }
}
.faq_2025 {
    width: 100%;
    padding: 64px 0;

    .faq_wrapper {
        position: relative;
        padding-bottom: 4em;

        @include displayTo(md) {
            .faq_item, .faq_item:hover, .faq_item.active, .faq_closer {
                padding-inline: 0;
                max-width: 100%;
                width: 100%;
                cursor: pointer;
                opacity: 1;
            }

            .faq_item.active {
                .arrow {
                    display: none;
                }

                &:hover .arrow {
                    display: inline-block;
                }
            }

            .faq_answer {
                display: none !important;
            }
        }
    }

    .faq_item {
        font-family: Manrope;
        margin:.15em 0;
        color: var(--section-color);
        font-size: 40px;
        font-weight: 500;
        line-height: 44px;
        word-wrap: break-word;
        opacity: .5;
        width: 65%;
        max-width: 65%;
        cursor: pointer;
        transition: all .25s ease-in-out;

        .arrow {
            display: none;
        }

        &:hover, &.active {
            opacity: 1;
            padding-left: 45px;
            width: 80%;
            max-width: 80%;
            padding-right: 20%;

            .arrow {
                display: inline-block;
            }

            .faq_answer {
                opacity: 1;
                pointer-events: initial;
            }
        }

        &:hover {
            .faq_answer {
                z-index: 20;
            }
        }


        .faq_question {
            display: flex;
            align-items: center;
            height: 40px;
            max-height: 40px;
            overflow: hidden;

            .faq_heading {
                color: var(--section-color);
                text-overflow: ellipsis;
                margin: 0;
                padding: 0;
                white-space: pre;
            }
        }

        .faq_answer {
            position: absolute;
            margin: 0;
            transition: all .25s ease-in-out;
            opacity: 0;
            top: 0;
            right: 0;
            display: flex;
            width: 30%;
            max-width: 30%;
            display: flex;
            gap: 1em;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            align-items: stretch;
            pointer-events: none;
            background-color: var(--section-background);

            p {
                padding: 45px;
                color: var(--section-color);
                background-color: var(--section-highlight);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
            }

            a {
                min-width: 100%;
                text-align: center;
                display: none;
            }

            a.added {
                display: block;
            }
        }
    }

    .faq_closer {
        color:var(--section-color);
        width: 65%;
        max-width: 65%;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        padding:1em 0;
    }
}

.section_static-quotes {
    .container_2025 {
        display: flex;
        flex-direction: column;
    }

    .section_subheading {
        color: var(--section-color);

        @include displayFrom(md) {
            margin-bottom: 80px;
        }

        max-width: 400px;
    }

    .w-layout-hflex {
        display: flex;
        gap: 50px;
        padding-bottom: 150px;
    }
}



    .social_proofs_outerwrapper {
        @include displayTo(md) {
            svg {
                max-width: 40px;
                max-height: 40px;
            }

            .social_proofs {
                gap: 1em;
            }

            .social_proof {
                .social_proof_quote, .social_proof_attribute {
                    font-size: 20px;
                }
            }
        }

        .social_proof {
            background-color: var(--Color-Dark);
            opacity: 0;
            pointer-events: none;
            transition: all .25s ease-in-out;
        }

        .social_proof_indicators {
            display: flex;
            gap: 1em;

            .social_proof_indicator {
                transition: width .25s ease-in-out;
                cursor: pointer;
            }
        }

        .social_proof_wrapper.sized {
            position: relative;

            .social_proof {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
        }
        // Highlight active social_proof and social_proof_indicator based on data-active
        @for $i from 1 through 10 { // Adjust as needed if you have more items
            &[data-active="#{$i}"] {
                .social_proof:nth-child(#{$i}) {
                    opacity: 1;
                }

                .social_proof_indicator:nth-child(#{$i}) {
                    background-color: #d9d9d9;
                    width: 72px;
                }
            }
        }
    }




.our_clients_container.container_2025 {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; /* This replaces grid-column-gap and grid-row-gap */
    justify-content: space-between;
    align-items: center;

    @include displayFrom(md) {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .logo_row {
        width: 100%;
    }

    @include displayTo(md) {
        margin-top: 0;


        .logo_row {
            flex-direction: column; /* Ensures wrapping */
            padding-top: 30px; /* Reduce padding */
            padding-bottom: 30px;
            gap: 1rem; /* Reduce spacing between items */
            align-self: stretch;
        }
    }
}

.case-studies-header {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;

    @include displayTo(md) {
        margin: 0;
    }
}

.ms-content {
    white-space: nowrap;
    overflow: visible;

    &.w-embed:before, &.w-embed:after {
        display: none;
        content: '';
    }
}

.item {
    width: 300px;

    @include displayFrom(sm) {
        width: 400px;
    }

    @include displayFrom(lg) {
        width: 450px;
    }

    display: inline-flex;
    flex-direction: column;
    margin: 0px 8px;
    white-space: initial;
    height: 100%;
    transition: opacity .3s ease-in-out .2s;
    --Active-Color: var(--Color-Light-Inactive);


    &:hover, &:first-child {
        --Active-Color: var(--Color-Light);
    }

    &[style] {
        opacity: 0;
    }

    .cs-image {
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        width: 300px;
        height: 300px;

        @include displayFrom(sm) {
            width: 400px;
            height: 400px;
        }

        @include displayFrom(lg) {
            width: 450px;
            height: 450px;
        }

        display: flex;
        align-items: center;
        justify-content: center;

        .cs-tags {
            display: flex;
            gap: 10px;
            position: absolute;
            top: 8px;
            left: 8px;
            z-index: 5;
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                border-radius: 4px;
                line-height: 24px;
                padding: 0px 8px;
                background: rgba(244, 241, 231, 0.80);
                backdrop-filter: blur(2px);
                color: var(--Color-Dark);
                text-transform: uppercase;
                font-size: 14px;
            }
        }


        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .cs-info {
        line-height: 32px;


        h3.cs-header {
            color: var(--Active-Color);
            font-size: 22px;
            font-weight: 500;
            margin: 1em 0;

            span.arrow {
                content: "->";
            }

            transition: color .2s ease-in-out;
        }

        .cs-text {
            color: var(--Active-Color);
            font-size: 18px;
            font-weight: 400;
            transition: color .2s ease-in-out;
        }
    }
}



.case-studies-header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 0 0 2em 0;

    @include displayFrom(md) {
        margin: -100px 0 60px 0;
        gap: 1em;

        p {
            max-width: 50%;
        }
    }
}

    .case-studies-header {
        display: flex;
        justify-content: space-between;
    }

    .case-studies-button.border-button {
        color: var(--Color-Light);
        padding: 8px 18px 8px 16px;

        &.ms-right {
            padding: 8px 16px 8px 18px;
        }
        &:hover {
            color:var(--Color-Dark);
        }
    }

    .container_about-us {
        @include displayFrom(sm) {
            margin: -100px 0 0px 0;
        }

        .about-us-info {
            padding: 52px 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 1em;

            @include displayTo(md) {
                flex-direction: column;
            }
        }

        p {
            max-width: 574px;
            color: var(--text-color);
        }

        @include displayTo(md) {
            &.borderbottom {
                margin-bottom: 0;
            }
        }
    }
.our_approach_section.borderbottom {
    @include displayTo(md) {
            margin-bottom: 0;
    }
}
    .ms-content {
        white-space: nowrap;
        overflow: visible;

        &.w-embed:before, &.w-embed:after {
            display: none;
            content: '';
        }
    }

    .item {
        width: 300px;

        @include displayFrom(sm) {
            width: 400px;
        }

        @include displayFrom(lg) {
            width: 450px;
        }

        display: inline-flex;
        flex-direction: column;
        margin: 0px 8px;
        white-space: initial;
        height: 100%;
        transition: opacity .3s ease-in-out .2s;
        --Active-Color: var(--Color-Light-Inactive);


        &:hover, &:first-child {
            --Active-Color: var(--Color-Light);
        }

        &[style] {
            opacity: 0;
        }

        .cs-image {
            position: relative;
            overflow: hidden;
            border-radius: 4px;
            width: 300px;
            height: 300px;

            @include displayFrom(sm) {
                width: 400px;
                height: 400px;
            }

            @include displayFrom(lg) {
                width: 450px;
                height: 450px;
            }

            display: flex;
            align-items: center;
            justify-content: center;

            .cs-tags {
                display: flex;
                gap: 10px;
                position: absolute;
                top: 8px;
                left: 8px;
                z-index: 5;
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    border-radius: 4px;
                    line-height: 24px;
                    padding: 0px 8px;
                    background: rgba(244, 241, 231, 0.80);
                    backdrop-filter: blur(2px);
                    color: var(--Color-Dark);
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }


            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


        .cs-info {
            line-height: 32px;


            h3.cs-header {
                color: var(--Active-Color);
                font-size: 22px;
                font-weight: 500;
                margin: 1em 0;

                span.arrow {
                    content: "->";
                }

                transition: color .2s ease-in-out;
            }

            .cs-text {
                color: var(--Active-Color);
                font-size: 18px;
                font-weight: 400;
                transition: color .2s ease-in-out;
            }
        }
    }


    .optimizely_container {
        @include displayTo(md) {
            .optimizely_header {

                svg {
                    height: auto;
                    max-height: 50px;
                }
            }

            .optimizely_stats {
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 1em !important;

                .icon_stat,
                .number_stat {
                    width: calc(45% - 1em);
                }

                padding-bottom: 2em;
                @include displayTo(md){
                    margin-bottom:0;
                }
            }
        }

        .dynamic-button {
            &:before {
                content: "->";
                margin-right: .25em;
            }

            &:afterOLD {
                content: 'LEARN MORE';

                @include displayFrom(md) {
                    content: 'LEARN MORE ABOUT OUR OPTIMIZELY EXPERTISE';
                }
            }
        }

        .optimizely_header {
            flex-direction: column;
            margin-bottom: 2em;
            gap: 1em;

            @include displayFrom(md) {
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 1em;
                align-items: flex-end;
                gap: 96px;
                margin: -100px 0 60px 0;
            }
        }

        .optimizely_intro {
            display: flex;
            flex-direction: column;
            gap: 2em;
            max-width: 880px;

            &, p {
                color: var(--Color-Dark);
            }
        }

        .optimizely_stats {
            display: flex;
            gap: clamp(40px, 5vw, 10%);
            padding-bottom: 60px;

            .icon_stat {
                display: flex;
                flex-direction: column;
                gap: 12px;
                color: var(--Color-Dark);
                font-style: normal;
            }

            .icon_svg {
                width: 40px;
                height: 40px;
            }

            .icon_caption {
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 1.1667em;
                white-space: pre;
            }

            .icon_year {
                font-size: 24px;
                font-weight: 400;
                line-height: 1.0417em; /* 25px / 24px */
                opacity: 0.6;
            }

            .stat_number {
                font-size: 40px;

                @include displayFrom(lg) {
                    font-size: 60px;
                }

                @include displayFrom(xl) {
                    font-size: 80px;
                }

                white-space: nowrap;
                font-style: normal;
                font-weight: 400;
                line-height: 1.2em; /* 96px / 80px */
            }

            .stat_caption {
                font-size: 16px;
                font-weight: 400;
                line-height: 1.25em; /* 20px / 16px */
                opacity: 0.6;
            }
        }
    }

    .chaos_container {
        color: var(--section-color);

        h3 {
            color: var(--section-color);
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
        }

        .approachImage {
            margin: 1em 0;

            @include displayFrom(md) {
                margin: 4em 0 120px 0;
            }
        }

        .chaos_order {
            display: flex;

            @include displayTo(md) {
                flex-direction: column;
            }

            gap: 1em;
            padding-bottom: 32px;

            h4, p {
                flex: 1
            }

            h4 {
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 40px;
            }
        }
    }

    .section_contact-form {
        .contact_flex {
            flex-direction: column;

            @include displayFrom(sm) {
                margin: -100px 0 60px 0;
                flex-direction: row;
            }
        }

        .contact_copy {
            max-width: 560px;
            display: flex;
            gap: 1em;
            flex-direction: column
        }

        .contact_heading {
            font-family: railroad-gothic-atf, sans-serif;
            font-style: normal;
            font-weight: 400;
            line-height: 1.15em; /* 113.043% */
            text-transform: uppercase;
            font-size: 60px;
            padding-top: 1em;

            @include displayFrom(sm) {
                font-size: 92px;
                padding-top: 0;
            }
        }

        .contact_form {
            flex-grow: 1;
        }
    }

    .icon_values {
        @include displayTo(md) {
            flex-direction: column;
        }
    }


    .hs-submit .actions .hs-button {
        --text-color: #1A1A1A;
        --background-color: #F45500;
        --hover-background: #F4F1E7;
        --hover-text-color: #1A1A1A; /* Light contrast for readability */
    }

    form.hs-form {
        box-shadow: none;
    }

    .other_posts-title_text:hover {
        color: var(--Color-Dark);
        text-decoration: underline;
        text-decoration-color: #F45500;
    }


    .line_left {
        z-index: 1000;
        background-color: #ffffff77; /* Default color */
        width: 2px;
        height: 100vh; /* Full height */
        position: fixed;
        inset: 0% 0% 0% 4.5rem;
        overflow: visible;
        mix-blend-mode: difference; /* Inverts color based on the background */
    }


    .calendly-iframe {
        max-height: 50px;
        opacity: 0;
        transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out;
        overflow: hidden;
        height: 900px;
    }
    /* When the form is submitted */
    .submitted .calendly-iframe {
        max-height: 1000px;
        opacity: 1;
    }